/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/



/* === List View === */
.list {
  position: relative;
  z-index: 1;
}
.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.list ul ul:before {
  display: none !important;
}
.list ul ul:after {
  display: none !important;
}
.list li {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.list .item-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 8px;
}
.list .item-inner {
  position: relative;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.list .item-title {
  min-width: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.list .item-after {
  white-space: nowrap;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.list .item-link,
.list .list-button {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.list .item-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.list .item-subtitle {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
}
.list .item-text {
  position: relative;
  overflow: hidden;
  text-overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.list .item-title-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.list .item-title-row .item-after {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.list .item-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.list .item-cell {
  display: block;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.list li:last-child .list-button:after {
  display: none !important;
}
.list li:last-child > .item-inner:after,
.list li:last-child li:last-child > .item-inner:after,
.list li:last-child > .item-content > .item-inner:after,
.list li:last-child li:last-child > .item-content > .item-inner:after,
.list li:last-child > .item-link > .item-content > .item-inner:after,
.list li:last-child li:last-child > .item-link > .item-content > .item-inner:after {
  display: none !important;
}
.list.no-hairlines:before,
.list.no-hairlines ul:before,
.md .list.no-hairlines-md:before,
.md .list.no-hairlines-md ul:before,
.ios .list.no-hairlines-ios:before,
.ios .list.no-hairlines-ios ul:before {
  display: none !important;
}
.list.no-hairlines:after,
.list.no-hairlines ul:after,
.md .list.no-hairlines-md:after,
.md .list.no-hairlines-md ul:after,
.ios .list.no-hairlines-ios:after,
.ios .list.no-hairlines-ios ul:after {
  display: none !important;
}
.list.no-hairline-top:before,
.list.no-hairline-top ul:before,
.md .list.no-hairline-top-md:before,
.md .list.no-hairline-top-md ul:before,
.ios .list.no-hairline-top-ios:before,
.ios .list.no-hairline-top-ios ul:before {
  display: none !important;
}
.list.no-hairline-bottom:after,
.list.no-hairline-bottom ul:after,
.md .list.no-hairline-bottom-md:after,
.md .list.no-hairline-bottom-md ul:after,
.ios .list.no-hairline-bottom-ios:after,
.ios .list.no-hairline-bottom-ios ul:after {
  display: none !important;
}
.list.no-hairlines-between .item-inner:after,
.md .list.no-hairlines-between-md .item-inner:after,
.ios .list.no-hairlines-between-ios .item-inner:after,
.list.no-hairlines-between .list-button:after,
.md .list.no-hairlines-between-md .list-button:after,
.ios .list.no-hairlines-between-ios .list-button:after,
.list.no-hairlines-between .item-divider:after,
.md .list.no-hairlines-between-md .item-divider:after,
.ios .list.no-hairlines-between-ios .item-divider:after,
.list.no-hairlines-between .list-group-title:after,
.md .list.no-hairlines-between-md .list-group-title:after,
.ios .list.no-hairlines-between-ios .list-group-title:after,
.list.no-hairlines-between .list-group-title:after,
.md .list.no-hairlines-between-md .list-group-title:after,
.ios .list.no-hairlines-between-ios .list-group-title:after {
  display: none !important;
}
.list.no-hairlines-between.simple-list li:after,
.md .list.no-hairlines-between-md.simple-list li:after,
.ios .list.no-hairlines-between-ios.simple-list li:after {
  display: none !important;
}
.list.no-hairlines-between.links-list a:after,
.md .list.no-hairlines-between-md.links-list a:after,
.ios .list.no-hairlines-between-ios.links-list a:after {
  display: none !important;
}
.list.simple-list li {
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.list.simple-list li:last-child:after {
  display: none !important;
}
.list.links-list a {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  display: block;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
.list.links-list li:last-child a:after {
  display: none !important;
}
.media-list .item-inner,
li.media-item .item-inner {
  display: block;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.media-list .item-link .item-inner,
li.media-item .item-link .item-inner {
  background: none;
}
.media-list .item-media,
li.media-item .item-media {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.media-list .item-media img,
li.media-item .item-media img {
  display: block;
}
.list .item-link .item-inner,
.links-list a,
.media-list .item-link .item-title-row,
li.media-item .item-link .item-title-row,
.media-list.chevron-center .item-link .item-inner,
.media-list .chevron-center .item-link .item-inner,
.media-list .item-link.chevron-center .item-inner,
li.media-item.chevron-center .item-link .item-inner,
li.media-item .chevron-center .item-link .item-inner,
li.media-item .item-link.chevron-center .item-inner {
  background-size: 8px 13px;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D'8px'%20height%3D'13px'%20viewBox%3D'0%200%208%2013'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpolygon%20fill%3D'%23c7c7cc'%20transform%3D'translate(1.500000%2C%206.500000)%20rotate(-45.000000)%20translate(-1.500000%2C%20-6.500000)%20'%20points%3D'6%2011%206%202%204%202%204%209%20-3%209%20-3%2011%205%2011'%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
}
.links-list.no-chevron a,
.no-chevron .links-list a,
.links-list .no-chevron a,
.item-link.no-chevron .item-inner,
.no-chevron .item-link .item-inner,
.media-list.no-chevron .item-link .item-title-row,
.no-chevron .media-list .item-link .item-title-row,
li.media-item .no-chevron .item-title-row,
li.media-item.no-chevron .item-title-row,
.media-list.chevron-center .item-title-row,
.media-list .chevron-center .item-title-row,
li.media-item.chevron-center .item-title-row,
li.media-item .chevron-center .item-title-row {
  background-image: none !important;
}
.media-list .item-link .item-inner,
li.media-item .item-link .item-inner {
  background-image: none;
}
.media-list .item-link .item-title-row,
li.media-item .item-link .item-title-row {
  background-position: right center !important;
}
.list-group ul:after,
.list-group ul:before {
  z-index: 25 !important;
}
.list-group + .list-group ul:before {
  display: none !important;
}
li.item-divider,
.item-divider,
li.list-group-title {
  white-space: nowrap;
  position: relative;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 15;
}
li.list-group-title {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 0;
  z-index: 20;
}
li.list-group-title:before {
  display: none !important;
}
.list.inset .block-title {
  margin-left: 0;
  margin-right: 0;
}
.list.inset ul:before {
  display: none !important;
}
.list.inset ul:after {
  display: none !important;
}
@media (min-width: 768px) {
  .list.tablet-inset .block-title {
    margin-left: 0;
    margin-right: 0;
  }
  .list.tablet-inset ul:before {
    display: none !important;
  }
  .list.tablet-inset ul:after {
    display: none !important;
  }
}
.theme-dark .list .item-link .item-inner,
.list.theme-dark .item-link .item-inner,
.theme-dark .links-list a,
.links-list.theme-dark a,
.theme-dark .media-list .item-link .item-title-row,
.media-list.theme-dark .item-link .item-title-row,
.theme-dark li.media-item .item-link .item-title-row {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D'8px'%20height%3D'13px'%20viewBox%3D'0%200%208%2013'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpolygon%20fill%3D'%23434345'%20transform%3D'translate(1.500000%2C%206.500000)%20rotate(-45.000000)%20translate(-1.500000%2C%20-6.500000)%20'%20points%3D'6%2011%206%202%204%202%204%209%20-3%209%20-3%2011%205%2011'%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
}
.theme-dark .media-list .item-link .item-inner,
.media-list.theme-dark .item-link .item-inner,
.theme-dark li.media-item .item-link .item-inner {
  background-image: none;
}
.ios .list {
  margin: 35px 0;
  font-size: 17px;
}
.ios .list .item-cell {
  width: 100%;
  min-width: 0;
  margin-left: 15px;
}
.ios .list .item-cell:first-child {
  margin-left: 0;
}
.ios .list ul {
  background: #fff;
}
.ios .list ul ul {
  padding-left: 45px;
}
.ios .list .item-media {
  padding-top: 7px;
}
.ios .list .item-media i + i,
.ios .list .item-media i + img {
  margin-left: 5px;
}
.ios .list .item-media + .item-inner {
  margin-left: 15px;
}
.ios .list .item-inner {
  min-height: 44px;
  padding-right: 15px;
}
.ios .list .item-after {
  color: #8e8e93;
  padding-left: 5px;
}
.ios .list .item-link,
.ios .list .list-button {
  color: inherit;
}
.ios .list .item-link .item-inner,
.ios .list .list-button .item-inner {
  padding-right: 35px;
}
.ios .list .item-link.active-state,
.ios .list .list-button.active-state {
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
  background-color: #d9d9d9;
}
.ios .list .item-link.active-state .item-inner:after,
.ios .list .list-button.active-state .item-inner:after {
  background-color: transparent;
}
.ios .list .list-button {
  padding: 0 15px;
  text-align: center;
  color: #007aff;
/*  line-height: 44px;*/
}
.ios .list .item-content {
  min-height: 44px;
  padding-left: 15px;
}
.ios .list .item-subtitle {
  font-size: 15px;
}
.ios .list .item-text {
  font-size: 15px;
  color: #8e8e93;
  line-height: 21px;
  max-height: 42px;
}
.ios .list .item-header,
.ios .list .item-footer {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  white-space: normal;
}
.ios .list .item-footer {
  color: #8e8e93;
}
.ios .list .item-link.no-chevron .item-inner,
.ios .list.no-chevron .item-link .item-inner,
.ios .list .no-chevron .item-link .item-inner,
.ios .no-chevron .list .item-link .item-inner {
  padding-right: 15px;
}
.ios .simple-list li:after {
  content: '';
  position: absolute;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.ios.device-pixel-ratio-2 .simple-list li:after {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.ios.device-pixel-ratio-3 .simple-list li:after {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.ios .simple-list li {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 44px;
  height: 44px;
}
.ios .simple-list li:after {
  width: auto;
  left: 15px;
  right: 0;
}
.ios .links-list a:after {
  content: '';
  position: absolute;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.ios.device-pixel-ratio-2 .links-list a:after {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.ios.device-pixel-ratio-3 .links-list a:after {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.ios .links-list a {
  height: 44px;
  color: inherit;
}
.ios .links-list a.active-state {
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
  background-color: #d9d9d9;
}
.ios .links-list a:after {
  width: auto;
}
.ios .links-list a {
  padding-left: 15px;
  padding-right: 35px;
}
.ios .links-list a:after {
  left: 15px;
  right: 0;
}
.ios .links-list.no-chevron a,
.ios .no-chevron .links-list a,
.ios .links-list a.no-chevron,
.ios .links-list .no-chevron a {
  padding-right: 15px;
}
.ios .media-list .item-title,
.ios li.media-item .item-title {
  font-weight: 600;
}
.ios .media-list .item-inner,
.ios li.media-item .item-inner {
  padding-top: 10px;
  padding-bottom: 9px;
}
.ios .media-list .item-media,
.ios li.media-item .item-media {
  padding-top: 9px;
  padding-bottom: 10px;
}
.ios .media-list .item-link .item-inner,
.ios li.media-item .item-link .item-inner {
  padding-right: 15px;
}
.ios .media-list .item-link .item-title-row,
.ios li.media-item .item-link .item-title-row {
  padding-right: 20px;
}
.ios .media-list.chevron-center .item-link .item-inner,
.ios .media-list .chevron-center .item-link .item-inner,
.ios .media-list .item-link.chevron-center .item-inner,
.ios li.media-item.chevron-center .item-link .item-inner,
.ios li.media-item .item-link.chevron-center .item-inner,
.ios li.media-item .chevron-center .item-link .item-inner {
  padding-right: 35px;
}
.ios .media-list.no-chevron .item-link .item-title-row,
.ios .no-chevron .media-list .item-link .item-title-row,
.ios .media-list .no-chevron .item-link .item-title-row,
.ios li.media-item.no-chevron .item-link .item-title-row,
.ios .no-chevron li.media-item .item-link .item-title-row,
.ios .media-list.chevron-center .item-title-row,
.ios .media-list .chevron-center .item-title-row,
.ios li.media-item.chevron-center .item-title-row,
.ios li.media-item .chevron-center .item-title-row {
  padding-right: 0 !important;
}
.ios .list .item-link .item-inner,
.ios .links-list a {
  background-position: calc(100% - 15px) center;
}
.ios .item-divider,
.ios .list-group-title {
  margin-top: -1px;
  padding: 4px 15px;
  background: #f7f7f7;
  color: #8e8e93;
}
.ios .item-divider:after,
.ios .list-group-title:after {
  display: none !important;
}
.ios .list-group-title {
  margin-top: 0;
}
.ios .item-divider:before {
  content: '';
  position: absolute;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  height: 1px;
  width: 100%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.ios.device-pixel-ratio-2 .item-divider:before {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.ios.device-pixel-ratio-3 .item-divider:before {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.ios .list-group-title:before {
  content: '';
  position: absolute;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  height: 1px;
  width: 100%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.ios.device-pixel-ratio-2 .list-group-title:before {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.ios.device-pixel-ratio-3 .list-group-title:before {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.ios .list .list-button:after {
  content: '';
  position: absolute;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.ios.device-pixel-ratio-2 .list .list-button:after {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.ios.device-pixel-ratio-3 .list .list-button:after {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.ios .list .item-inner:after {
  content: '';
  position: absolute;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.ios.device-pixel-ratio-2 .list .item-inner:after {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.ios.device-pixel-ratio-3 .list .item-inner:after {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.ios .list ul:before {
  content: '';
  position: absolute;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  height: 1px;
  width: 100%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.ios.device-pixel-ratio-2 .list ul:before {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.ios.device-pixel-ratio-3 .list ul:before {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.ios .list ul:after {
  content: '';
  position: absolute;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.ios.device-pixel-ratio-2 .list ul:after {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.ios.device-pixel-ratio-3 .list ul:after {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.ios .list.inset {
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 7px;
}
.ios .list.inset ul {
  border-radius: 7px;
}
.ios .list.inset li:first-child > a {
  border-radius: 7px 7px 0 0;
}
.ios .list.inset li:last-child > a {
  border-radius: 0 0 7px 7px;
}
.ios .list.inset li:first-child:last-child > a {
  border-radius: 7px;
}
@media (min-width: 768px) {
  .ios .list.tablet-inset {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 7px;
  }
  .ios .list.tablet-inset ul {
    border-radius: 7px;
  }
  .ios .list.tablet-inset li:first-child > a {
    border-radius: 7px 7px 0 0;
  }
  .ios .list.tablet-inset li:last-child > a {
    border-radius: 0 0 7px 7px;
  }
  .ios .list.tablet-inset li:first-child:last-child > a {
    border-radius: 7px;
  }
}


/* === Input === */
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="number"],
select,
textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  outline: 0;
  display: block;
  padding: 0;
  margin: 0;
  font-family: inherit;
  background: none;
  resize: none;
  font-size: inherit;
  color: inherit;
}
.textarea-resizable-shadow {
  opacity: 0;
  position: absolute;
  z-index: -1000;
  pointer-events: none;
  left: -1000px;
  top: -1000px;
  visibility: hidden;
}
.list input[type="text"],
.list input[type="password"],
.list input[type="search"],
.list input[type="email"],
.list input[type="tel"],
.list input[type="url"],
.list input[type="date"],
.list input[type="datetime-local"],
.list input[type="time"],
.list input[type="number"],
.list select,
.list textarea {
  width: 100%;
}
.list input[type="datetime-local"] {
  max-width: 50vw;
}
.list input[type="date"],
.list input[type="datetime-local"] {
  line-height: 44px;
}
.list textarea {
  resize: none;
  line-height: 1.4;
  height: 100px;
}
.list .item-label,
.list .item-floating-label {
  vertical-align: top;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
width:30%;    
}
.list .item-input-wrap {
  width: 100%;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  position: relative;
}
.input {
  position: relative;
}
.input input,
.input select,
.input textarea {
  width: 100%;
}
.input-clear-button {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin: 0;
  outline: 0;
  z-index: 1;
  cursor: pointer;
  background: none;
  right: 0;
}
.input-clear-button:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
}
.input-clear-button:before {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
}
.input-with-value ~ .input-clear-button,
.item-input-with-value .input-clear-button,
.input-with-value .input-clear-button {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.input-dropdown-wrap,
.input-dropdown {
  position: relative;
}
.input-dropdown-wrap:before,
.input-dropdown:before {
  content: '';
  pointer-events: none;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #727272;
  right: 2px;
}
.input-dropdown-wrap select,
.input-dropdown select,
.input-dropdown-wrap input,
.input-dropdown input,
.input-dropdown-wrap textarea,
.input-dropdown textarea {
  padding-right: 14px;
}
.ios .list input[type="text"],
.ios .list input[type="password"],
.ios .list input[type="search"],
.ios .list input[type="email"],
.ios .list input[type="tel"],
.ios .list input[type="url"],
.ios .list input[type="date"],
.ios .list input[type="datetime-local"],
.ios .list input[type="time"],
.ios .list input[type="number"],
.ios .list select {
  height: 44px;
  color: #000;
  font-size: 17px;
}
.ios .list textarea {
  color: #000;
  font-size: 17px;
  padding-top: 11px;
  padding-bottom: 11px;
}
.ios .list textarea.resizable {
  height: 44px;
}
.ios .item-label,
.ios .item-floating-label {
  font-size: 12px;
  width: 100%;
  line-height: 1;
  overflow: visible;
}
.ios .item-label + .item-input-wrap,
.ios .item-floating-label + .item-input-wrap {
  margin-top: 0;
}
.ios .item-input .item-inner {
  display: block;
}
.ios .item-input .item-media {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.ios .item-input-wrap {
  margin-top: -8px;
  margin-bottom: -8px;
}
.ios .inline-labels .item-inner,
.ios .inline-label .item-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.ios .inline-labels .item-label,
.ios .inline-label .item-label,
.ios .inline-labels .item-floating-label,
.ios .inline-label .item-floating-label {
  font-size: 17px;
  width: 35%;
  line-height: 1.4;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-top: 3px;
}
.ios .inline-labels .item-label + .item-input-wrap,
.ios .inline-label .item-label + .item-input-wrap,
.ios .inline-labels .item-floating-label + .item-input-wrap,
.ios .inline-label .item-floating-label + .item-input-wrap {
  margin-top: -8px;
  margin-left: 5px;
}
.ios .inline-labels .item-input-wrap,
.ios .inline-label .item-input-wrap {
  margin-top: -8px;
}
.ios .item-input-with-error-message .item-input-wrap input,
.ios div.input-with-error-message input,
.ios span.input-with-error-message input,
.ios .item-input-with-error-message .item-input-wrap select,
.ios div.input-with-error-message select,
.ios span.input-with-error-message select,
.ios .item-input-with-error-message .item-input-wrap textarea,
.ios div.input-with-error-message textarea,
.ios span.input-with-error-message textarea {
  color: #ff3b30;
}
.ios .item-input-error-message,
.ios .item-input-info,
.ios .input-error-message,
.ios .input-info {
  font-size: 12px;
  line-height: 1.4;
  position: relative;
  margin-bottom: 6px;
  margin-top: -8px;
}
.ios .item-input-info,
.ios .input-info {
  color: #8e8e93;
}
.ios .item-input-error-message,
.ios .input-error-message {
  color: #ff3b30;
  display: none;
}
.ios .item-input-invalid .item-input-error-message {
  display: block;
}
.ios .item-input-invalid .item-input-info {
  display: none;
}
.ios .input-invalid .input-error-message {
  display: block;
}
.ios .input-invalid .input-info {
  display: none;
}
.ios .input-clear-button {
  width: 14px;
  height: 14px;
  margin-top: -7px;
}
.ios .input-clear-button:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2028'%3E%3Ccircle%20cx%3D'14'%20cy%3D'14'%20r%3D'14'%20fill%3D'%238e8e93'%2F%3E%3Cline%20stroke%3D'%23ffffff'%20stroke-width%3D'3'%20stroke-miterlimit%3D'10'%20x1%3D'8'%20y1%3D'8'%20x2%3D'20'%20y2%3D'20'%2F%3E%3Cline%20fill%3D'none'%20stroke%3D'%23ffffff'%20stroke-width%3D'3'%20stroke-miterlimit%3D'10'%20x1%3D'20'%20y1%3D'8'%20x2%3D'8'%20y2%3D'20'%2F%3E%3C%2Fsvg%3E");
  background-size: 14px 14px;
}
.ios .input-clear-button:before {
  width: 44px;
  height: 44px;
  margin-left: -22px;
  margin-top: -22px;
}
.ios .item-input-wrap .input-clear-button {
  top: 22px;
}
.ios .theme-dark .list input[type="text"],
.list.ios .theme-dark input[type="text"],
.ios .theme-dark .list input[type="password"],
.list.ios .theme-dark input[type="password"],
.ios .theme-dark .list input[type="search"],
.list.ios .theme-dark input[type="search"],
.ios .theme-dark .list input[type="email"],
.list.ios .theme-dark input[type="email"],
.ios .theme-dark .list input[type="tel"],
.list.ios .theme-dark input[type="tel"],
.ios .theme-dark .list input[type="url"],
.list.ios .theme-dark input[type="url"],
.ios .theme-dark .list input[type="date"],
.list.ios .theme-dark input[type="date"],
.ios .theme-dark .list input[type="datetime-local"],
.list.ios .theme-dark input[type="datetime-local"],
.ios .theme-dark .list input[type="time"],
.list.ios .theme-dark input[type="time"],
.ios .theme-dark .list input[type="number"],
.list.ios .theme-dark input[type="number"],
.ios .theme-dark .list select,
.list.ios .theme-dark select {
  color: #fff;
}
.ios .theme-dark .list textarea,
.list.ios .theme-dark textarea {
  color: #fff;
}
.md .list input[type="text"],
.md .list input[type="password"],
.md .list input[type="search"],
.md .list input[type="email"],
.md .list input[type="tel"],
.md .list input[type="url"],
.md .list input[type="date"],
.md .list input[type="datetime-local"],
.md .list input[type="time"],
.md .list input[type="number"],
.md .list select {
  height: 36px;
  color: #212121;
  font-size: 16px;
}
.md .list input[type="text"]::-webkit-input-placeholder,
.md .list input[type="password"]::-webkit-input-placeholder,
.md .list input[type="search"]::-webkit-input-placeholder,
.md .list input[type="email"]::-webkit-input-placeholder,
.md .list input[type="tel"]::-webkit-input-placeholder,
.md .list input[type="url"]::-webkit-input-placeholder,
.md .list input[type="date"]::-webkit-input-placeholder,
.md .list input[type="datetime-local"]::-webkit-input-placeholder,
.md .list input[type="time"]::-webkit-input-placeholder,
.md .list input[type="number"]::-webkit-input-placeholder,
.md .list select::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.md .list input[type="text"]:-ms-input-placeholder,
.md .list input[type="password"]:-ms-input-placeholder,
.md .list input[type="search"]:-ms-input-placeholder,
.md .list input[type="email"]:-ms-input-placeholder,
.md .list input[type="tel"]:-ms-input-placeholder,
.md .list input[type="url"]:-ms-input-placeholder,
.md .list input[type="date"]:-ms-input-placeholder,
.md .list input[type="datetime-local"]:-ms-input-placeholder,
.md .list input[type="time"]:-ms-input-placeholder,
.md .list input[type="number"]:-ms-input-placeholder,
.md .list select:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.md .list input[type="text"]::-ms-input-placeholder,
.md .list input[type="password"]::-ms-input-placeholder,
.md .list input[type="search"]::-ms-input-placeholder,
.md .list input[type="email"]::-ms-input-placeholder,
.md .list input[type="tel"]::-ms-input-placeholder,
.md .list input[type="url"]::-ms-input-placeholder,
.md .list input[type="date"]::-ms-input-placeholder,
.md .list input[type="datetime-local"]::-ms-input-placeholder,
.md .list input[type="time"]::-ms-input-placeholder,
.md .list input[type="number"]::-ms-input-placeholder,
.md .list select::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.md .list input[type="text"]::placeholder,
.md .list input[type="password"]::placeholder,
.md .list input[type="search"]::placeholder,
.md .list input[type="email"]::placeholder,
.md .list input[type="tel"]::placeholder,
.md .list input[type="url"]::placeholder,
.md .list input[type="date"]::placeholder,
.md .list input[type="datetime-local"]::placeholder,
.md .list input[type="time"]::placeholder,
.md .list input[type="number"]::placeholder,
.md .list select::placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.md .list textarea {
  color: #212121;
  font-size: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.md .list textarea.resizable {
  height: 36px;
}
.md .list textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.md .list textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.md .list textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.md .list textarea::placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.md .item-input-wrap:after,
.md .input:after {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}
.md .item-input-wrap {
  min-height: 36px;
}
.md .item-input-wrap:after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.12);
  display: block;
  z-index: 15;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.md.device-pixel-ratio-2 .item-input-wrap:after {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.md.device-pixel-ratio-3 .item-input-wrap:after {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.md .input:after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.12);
  display: block;
  z-index: 15;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.md.device-pixel-ratio-2 .input:after {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.md.device-pixel-ratio-3 .input:after {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.md .item-label,
.md .item-floating-label {
  font-size: 12px;
  width: 100%;
  color: rgba(0, 0, 0, 0.65);
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  line-height: 13px;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: transform, color;
  transition-property: transform, color, -webkit-transform;
}
.md .item-floating-label {
  -webkit-transform: scale(1.33333333) translateY(18px);
  transform: scale(1.33333333) translateY(18px);
  color: rgba(0, 0, 0, 0.35);
  width: auto;
  max-width: 75%;
  pointer-events: none;
  -webkit-transform-origin: left;
  transform-origin: left;
}
.md .item-floating-label ~ .item-input-wrap input::-webkit-input-placeholder,
.md .item-floating-label ~ .item-input-wrap textarea::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
}
.md .item-floating-label ~ .item-input-wrap input:-ms-input-placeholder,
.md .item-floating-label ~ .item-input-wrap textarea:-ms-input-placeholder {
  opacity: 0;
  transition-duration: 100ms;
}
.md .item-floating-label ~ .item-input-wrap input::-ms-input-placeholder,
.md .item-floating-label ~ .item-input-wrap textarea::-ms-input-placeholder {
  opacity: 0;
  transition-duration: 100ms;
}
.md .item-floating-label ~ .item-input-wrap input::placeholder,
.md .item-floating-label ~ .item-input-wrap textarea::placeholder {
  opacity: 0;
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
}
.md .item-floating-label ~ .item-input-wrap input.input-focused::-webkit-input-placeholder,
.md .item-floating-label ~ .item-input-wrap textarea.input-focused::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.md .item-floating-label ~ .item-input-wrap input.input-focused:-ms-input-placeholder,
.md .item-floating-label ~ .item-input-wrap textarea.input-focused:-ms-input-placeholder {
  opacity: 1;
  transition-duration: 300ms;
}
.md .item-floating-label ~ .item-input-wrap input.input-focused::-ms-input-placeholder,
.md .item-floating-label ~ .item-input-wrap textarea.input-focused::-ms-input-placeholder {
  opacity: 1;
  transition-duration: 300ms;
}
.md .item-floating-label ~ .item-input-wrap input.input-focused::placeholder,
.md .item-floating-label ~ .item-input-wrap textarea.input-focused::placeholder {
  opacity: 1;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.md .item-input-with-value .item-floating-label,
.md .item-input-focused .item-floating-label {
  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}
.md .item-input-with-value .item-floating-label {
  color: rgba(0, 0, 0, 0.65);
}
.md .item-input .item-media {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.md .item-input .item-inner {
  display: block;
}
.md .item-input .item-inner:after {
  display: none !important;
}
.md .inline-labels .item-media,
.md .inline-label .item-media {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-top: 14px;
}
.md .inline-labels .item-inner,
.md .inline-label .item-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.md .inline-labels .item-label,
.md .inline-label .item-label,
.md .inline-labels .item-floating-label,
.md .inline-label .item-floating-label {
  font-size: 16px;
  width: 30%;
  line-height: 1.5;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-top: 7px;
}
.md .inline-labels .item-label + .item-input-wrap,
.md .inline-label .item-label + .item-input-wrap,
.md .inline-labels .item-floating-label + .item-input-wrap,
.md .inline-label .item-floating-label + .item-input-wrap {
  margin-left: 8px;
}
.md .item-input-with-error-message,
.md .item-input-with-info,
.md div.input-with-error-message,
.md div.input-with-info,
.md span.input-with-error-message,
.md span.input-with-info {
  padding-bottom: 20px;
}
.md .item-input-error-message,
.md .item-input-info,
.md .input-error-message,
.md .input-info {
  font-size: 12px;
  line-height: 1.4;
  position: absolute;
  top: 100%;
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  left: 0;
  right: 16px;
}
.md .item-input-info,
.md .input-info {
  color: rgba(0, 0, 0, 0.45);
}
.md .item-input-error-message,
.md .input-error-message {
  color: #f44336;
  display: none;
}
.md .item-input-focused .item-label,
.md .item-input-focused .item-floating-label {
  color: #2196f3;
}
.md .item-input-focused .item-input-wrap:after,
.md .input-focused:after {
  background: #2196f3;
}
.md .item-input-invalid .item-label,
.md .item-invalid .item-label,
.md .item-input-invalid .item-floating-label,
.md .item-invalid .item-floating-label {
  color: #f44336;
}
.md .item-input-invalid .item-input-error-message,
.md .item-invalid .item-input-error-message,
.md .item-input-invalid .input-error-message,
.md .item-invalid .input-error-message {
  display: block;
}
.md .item-input-invalid .item-input-info,
.md .item-invalid .item-input-info,
.md .item-input-invalid .input-info,
.md .item-invalid .input-info {
  display: none;
}
.md .item-input-invalid .item-input-wrap:after,
.md .input-invalid:after {
  background: #f44336;
}
.md .item-input-invalid .item-input-wrap:after,
.md .item-input-focused .item-input-wrap:after {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}
.md .input-invalid:after,
.md .input-focused:after {
  -webkit-transform: scaleY(2) !important;
  transform: scaleY(2) !important;
}
.md .input-clear-button {
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.12);
  margin-top: -12px;
}
.md .input-clear-button:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23000'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
  background-size: 16px 16px;
  opacity: 0.54;
}
.md .input-clear-button:before {
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
}
.md .item-input-wrap .input-clear-button {
  bottom: 6px;
  margin-top: 0;
  top: auto;
}
.md .theme-dark input[type="text"],
.md .theme-dark input[type="password"],
.md .theme-dark input[type="search"],
.md .theme-dark input[type="email"],
.md .theme-dark input[type="tel"],
.md .theme-dark input[type="url"],
.md .theme-dark input[type="date"],
.md .theme-dark input[type="datetime-local"],
.md .theme-dark input[type="time"],
.md .theme-dark input[type="number"],
.md .theme-dark select,
.md .theme-dark textarea {
  color: rgba(255, 255, 255, 0.87);
}
.md .theme-dark input[type="text"]::-webkit-input-placeholder,
.md .theme-dark input[type="password"]::-webkit-input-placeholder,
.md .theme-dark input[type="search"]::-webkit-input-placeholder,
.md .theme-dark input[type="email"]::-webkit-input-placeholder,
.md .theme-dark input[type="tel"]::-webkit-input-placeholder,
.md .theme-dark input[type="url"]::-webkit-input-placeholder,
.md .theme-dark input[type="date"]::-webkit-input-placeholder,
.md .theme-dark input[type="datetime-local"]::-webkit-input-placeholder,
.md .theme-dark input[type="time"]::-webkit-input-placeholder,
.md .theme-dark input[type="number"]::-webkit-input-placeholder,
.md .theme-dark select::-webkit-input-placeholder,
.md .theme-dark textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.35);
}
.md .theme-dark input[type="text"]:-ms-input-placeholder,
.md .theme-dark input[type="password"]:-ms-input-placeholder,
.md .theme-dark input[type="search"]:-ms-input-placeholder,
.md .theme-dark input[type="email"]:-ms-input-placeholder,
.md .theme-dark input[type="tel"]:-ms-input-placeholder,
.md .theme-dark input[type="url"]:-ms-input-placeholder,
.md .theme-dark input[type="date"]:-ms-input-placeholder,
.md .theme-dark input[type="datetime-local"]:-ms-input-placeholder,
.md .theme-dark input[type="time"]:-ms-input-placeholder,
.md .theme-dark input[type="number"]:-ms-input-placeholder,
.md .theme-dark select:-ms-input-placeholder,
.md .theme-dark textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.35);
}
.md .theme-dark input[type="text"]::-ms-input-placeholder,
.md .theme-dark input[type="password"]::-ms-input-placeholder,
.md .theme-dark input[type="search"]::-ms-input-placeholder,
.md .theme-dark input[type="email"]::-ms-input-placeholder,
.md .theme-dark input[type="tel"]::-ms-input-placeholder,
.md .theme-dark input[type="url"]::-ms-input-placeholder,
.md .theme-dark input[type="date"]::-ms-input-placeholder,
.md .theme-dark input[type="datetime-local"]::-ms-input-placeholder,
.md .theme-dark input[type="time"]::-ms-input-placeholder,
.md .theme-dark input[type="number"]::-ms-input-placeholder,
.md .theme-dark select::-ms-input-placeholder,
.md .theme-dark textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.35);
}
.md .theme-dark input[type="text"]::placeholder,
.md .theme-dark input[type="password"]::placeholder,
.md .theme-dark input[type="search"]::placeholder,
.md .theme-dark input[type="email"]::placeholder,
.md .theme-dark input[type="tel"]::placeholder,
.md .theme-dark input[type="url"]::placeholder,
.md .theme-dark input[type="date"]::placeholder,
.md .theme-dark input[type="datetime-local"]::placeholder,
.md .theme-dark input[type="time"]::placeholder,
.md .theme-dark input[type="number"]::placeholder,
.md .theme-dark select::placeholder,
.md .theme-dark textarea::placeholder {
  color: rgba(255, 255, 255, 0.35);
}
.md .theme-dark .item-input:not(.item-input-focused) .item-input-wrap:after,
.md .theme-dark .input:after {
  background-color: rgba(255, 255, 255, 0.08);
}
.md .theme-dark .item-label,
.md .theme-dark .item-floating-label {
  color: rgba(255, 255, 255, 0.54);
}
.md .theme-dark .item-floating-label {
  color: rgba(255, 255, 255, 0.35);
}
.md .theme-dark .item-input-with-value .item-floating-label {
  color: rgba(255, 255, 255, 0.54);
}
.md .theme-dark .input-clear-button {
  background: #fff;
}
.md .color-theme-red .item-input-focused .item-label,
.md .color-theme-red .item-input-focused .item-floating-label {
  color: #f44336;
}
.md .color-theme-red .item-input-focused .item-input-wrap:after,
.md .color-theme-red .input-after:after {
  background: #f44336;
}
.md .color-theme-green .item-input-focused .item-label,
.md .color-theme-green .item-input-focused .item-floating-label {
  color: #4caf50;
}
.md .color-theme-green .item-input-focused .item-input-wrap:after,
.md .color-theme-green .input-after:after {
  background: #4caf50;
}
.md .color-theme-blue .item-input-focused .item-label,
.md .color-theme-blue .item-input-focused .item-floating-label {
  color: #2196f3;
}
.md .color-theme-blue .item-input-focused .item-input-wrap:after,
.md .color-theme-blue .input-after:after {
  background: #2196f3;
}
.md .color-theme-pink .item-input-focused .item-label,
.md .color-theme-pink .item-input-focused .item-floating-label {
  color: #e91e63;
}
.md .color-theme-pink .item-input-focused .item-input-wrap:after,
.md .color-theme-pink .input-after:after {
  background: #e91e63;
}
.md .color-theme-yellow .item-input-focused .item-label,
.md .color-theme-yellow .item-input-focused .item-floating-label {
  color: #ffeb3b;
}
.md .color-theme-yellow .item-input-focused .item-input-wrap:after,
.md .color-theme-yellow .input-after:after {
  background: #ffeb3b;
}
.md .color-theme-orange .item-input-focused .item-label,
.md .color-theme-orange .item-input-focused .item-floating-label {
  color: #ff9800;
}
.md .color-theme-orange .item-input-focused .item-input-wrap:after,
.md .color-theme-orange .input-after:after {
  background: #ff9800;
}
.md .color-theme-gray .item-input-focused .item-label,
.md .color-theme-gray .item-input-focused .item-floating-label {
  color: #9e9e9e;
}
.md .color-theme-gray .item-input-focused .item-input-wrap:after,
.md .color-theme-gray .input-after:after {
  background: #9e9e9e;
}
.md .color-theme-white .item-input-focused .item-label,
.md .color-theme-white .item-input-focused .item-floating-label {
  color: #ffffff;
}
.md .color-theme-white .item-input-focused .item-input-wrap:after,
.md .color-theme-white .input-after:after {
  background: #ffffff;
}
.md .color-theme-black .item-input-focused .item-label,
.md .color-theme-black .item-input-focused .item-floating-label {
  color: #000000;
}
.md .color-theme-black .item-input-focused .item-input-wrap:after,
.md .color-theme-black .input-after:after {
  background: #000000;
}
.md .item-input-focused.color-red .item-label,
.md .item-input-focused.color-red .item-floating-label {
  color: #f44336;
}
.md .item-input-focused.color-red .item-input-wrap:after,
.md .input-after.color-red:after {
  background: #f44336;
}
.md .item-input-focused.color-green .item-label,
.md .item-input-focused.color-green .item-floating-label {
  color: #4caf50;
}
.md .item-input-focused.color-green .item-input-wrap:after,
.md .input-after.color-green:after {
  background: #4caf50;
}
.md .item-input-focused.color-blue .item-label,
.md .item-input-focused.color-blue .item-floating-label {
  color: #2196f3;
}
.md .item-input-focused.color-blue .item-input-wrap:after,
.md .input-after.color-blue:after {
  background: #2196f3;
}
.md .item-input-focused.color-pink .item-label,
.md .item-input-focused.color-pink .item-floating-label {
  color: #e91e63;
}
.md .item-input-focused.color-pink .item-input-wrap:after,
.md .input-after.color-pink:after {
  background: #e91e63;
}
.md .item-input-focused.color-yellow .item-label,
.md .item-input-focused.color-yellow .item-floating-label {
  color: #ffeb3b;
}
.md .item-input-focused.color-yellow .item-input-wrap:after,
.md .input-after.color-yellow:after {
  background: #ffeb3b;
}
.md .item-input-focused.color-orange .item-label,
.md .item-input-focused.color-orange .item-floating-label {
  color: #ff9800;
}
.md .item-input-focused.color-orange .item-input-wrap:after,
.md .input-after.color-orange:after {
  background: #ff9800;
}
.md .item-input-focused.color-gray .item-label,
.md .item-input-focused.color-gray .item-floating-label {
  color: #9e9e9e;
}
.md .item-input-focused.color-gray .item-input-wrap:after,
.md .input-after.color-gray:after {
  background: #9e9e9e;
}
.md .item-input-focused.color-white .item-label,
.md .item-input-focused.color-white .item-floating-label {
  color: #ffffff;
}
.md .item-input-focused.color-white .item-input-wrap:after,
.md .input-after.color-white:after {
  background: #ffffff;
}
.md .item-input-focused.color-black .item-label,
.md .item-input-focused.color-black .item-floating-label {
  color: #000000;
}
.md .item-input-focused.color-black .item-input-wrap:after,
.md .input-after.color-black:after {
  background: #000000;
}
/*

Forms 
*/

ul.formstyle {background: #fff; padding: 20px 8px;}
.md .inline-label .item-floating-label, .md .inline-label .item-label, .md .inline-labels .item-floating-label, .md .inline-labels .item-label {
    font-size: 16px;
    width: 30%;
    line-height: 1.5;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding-top: 7px;
}

.md .list .item-inner {
    min-height: 48px;
    padding-right: 16px;
}

.md .inline-label .item-floating-label+.item-input-wrap, .md .inline-label .item-label+.item-input-wrap, .md .inline-labels .item-floating-label+.item-input-wrap, .md .inline-labels .item-label+.item-input-wrap {
    margin-left: 8px;
}
.md .item-input-wrap {
    min-height: 36px;
}


element.style {
}
.md .inline-label .item-floating-label+.item-input-wrap, .md .inline-label .item-label+.item-input-wrap, .md .inline-labels .item-floating-label+.item-input-wrap, .md .inline-labels .item-label+.item-input-wrap {
    margin-left: 8px;
}
.md .item-input-wrap {
    min-height: 36px;
}
.list .item-input-wrap {
    width: 100%;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    position: relative;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.md .list {
    margin: 32px 0;
    font-size: 16px;
}

.md .item-input-wrap:after {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,.12);
    display: block;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}


.md .list input[type=date], .md .list input[type=datetime-local], .md .list input[type=email], .md .list input[type=number], .md .list input[type=password], .md .list input[type=search], .md .list input[type=tel], .md .list input[type=text], .md .list input[type=time], .md .list input[type=url], .md .list select {
    height: 36px;
    color: #212121;
    font-size: 16px;
}

.list input[type=date], .list input[type=datetime-local], .list input[type=email], .list input[type=number], .list input[type=password], .list input[type=search], .list input[type=tel], .list input[type=text], .list input[type=time], .list input[type=url], .list select, .list textarea {
    width: 95%;
    margin-left: 5%;
    margin-top: 10px;
    height: 30px;
    font-size: 16px;
    border-bottom: 1px solid #333;

}

input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], select, textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    outline: 0;
    display: block;
    padding: 0;
    margin: 0;
    font-family: inherit;
    background: 0 0;
    resize: none;
    font-size: inherit;
    color: inherit;
}


.md .list input[type="text"], .md .list input[type="password"], .md .list input[type="search"], .md .list input[type="email"], .md .list input[type="tel"], .md .list input[type="url"], .md .list input[type="date"], .md .list input[type="datetime-local"], .md .list input[type="time"], .md .list input[type="number"], .md .list select {
    height: 44px;
    color: #000;
    font-size: 17px;
}

/*ANGLER*/


.statusbar-overlay {
    background: #000000;
}

.navbar {background-color: transparent;}
.navbar:after {
background-color: transparent;
}


.content-block {
margin: 5px 0;
padding: 0 15px;
color: #6d6d72;
box-sizing: border-box;
}

.main_page {
    background-image: url('../images/mainBG3@1x.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity: 1;
}

.logo_hidro { width: 90%; margin: 0px 5% 10px 5%; opacity: 0.8;  }
.logo_hidro_sm { width: 60%; margin: 10px 20%; opacity: 0.8;  }
.logo_hidro_smlr { width: 40%; margin: 10px 30%; opacity: 0.8;  }
.bttns_hidro {width: 80%; margin: 20px 10%;}
.btns_hridro_wapp {width: 80%; margin: 0px 10% 0px 10%;}
.bttns_hidro:after {
    content: "";
    opacity: 0.8; 
    display: block;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.ty_image { width: 95%; margin: 20px 2%; opacity: 1;  }

 /* Set the size of the div element that contains the map */
      .map {
        height: 400px;
        width: 100%;
      }
